$font-size: 16px;

.root {

}

.content {
  padding: 2em;
}

:global {

  @import '../../node_modules/normalize.css/normalize.css';

  * {
    box-sizing: border-box;
  }

  body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: $font-size;
    font-family: "Open Sans";
  }
}
