.root {
  background-color: rgb(0, 0 ,0);
  padding: 1em;
  color: rgb(255, 255, 255);
  display: flex;


  > :first-child {
    flex: 1 1 100%;
    text-align: left;
  }

  > :last-child {
    flex: 1 1 100%;
    text-align: right;
  }

  h1 {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  img {
    vertical-align: middle;
    display: inline-block;
  }
}
